public_html/bitrix/
public_html/upload/

/cgi-bin/
/awstats/
/webstat/
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

*.sql
*.tgz
*.tar.gz
*.tar
*.rar
*.zip
*.mp3
*.mp4
*.webm
*.mov
*.MOV
*.wav
*.flv
*.db
*.psd
*.pdf
*.doc
*.docx
*.txt
*.text
*.log
*.log.*
*.config
*.xml
*.tbk

/bower_components/
/node_modules/
/nbproject/
/cache/
/phpMyAdmin-*
/timthumb_cache/
/webstat/
/.idea/
/.csscomb.json
/.htaccess
/sitemap*.xml
/package.json
/sftp-config.json
/robots.txt
/bower.json
/.bowerrc
/*.sublime-project
/*.sublime-workspace
/*.restore
.DS_Store
.htpasswd
adminer*.php
site_*/
test*.php
.httpauth-disable
.htsecure